body {
    margin: 0px;
    padding: 0px;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: rgb(247, 247, 247);
    font-family: site;

    .tituloNotica {
        font-size: 50px;
        animation: aparecer 3s;
    }

    .imagemNoticia {
        width: 40vw;
        height: 40vw;
        border-radius: 25px;
        -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        animation: aparecer 3s;
    }

    .textoNoticia {
        font-size: 25px;
        margin: 50px;
        text-align: justify;
        animation: aparecer 3s;
    }
}

@font-face {
    font-family: site;
    src: url("./Oswald-VariableFont_wght.ttf");
}
@keyframes aparecer {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}
